# Run this at last:
# pip install torch==2.5.1+cu121 torchvision==0.20.1+cu121 torchaudio==2.5.1+cu121 --index-url https://download.pytorch.org/whl/cu121
# IF RAN FIRST, DO THIS:
# pip install -r AnimeCOlor_code/requirements.txt --no-deps

# HuggingFace ecosystem (STRICT COMPAT)
transformers==4.37.2
diffusers==0.30.1
huggingface_hub==0.24.6
accelerate==0.25.0

# Model dependencies
safetensors
einops
timm
# xformers==0.0.28 --> Causes dependancy issues 

# Video / image
opencv-python-headless
imageio[ffmpeg]
imageio[pyav]
decord
scikit-image
albumentations
Pillow

# Data + utils
numpy
datasets
omegaconf
SentencePiece
tqdm

# Training / metrics (optional but safe)
tensorboard
pytorch_fid
lpips

# Misc (used internally)
ftfy
beautifulsoup4
func_timeout

# Optional but used in repo
torchdiffeq
torchsde
open_clip_torch

# Runtime
ffmpeg-python